In [52]:
import pandas as pd
import numpy as np

In [7]:
# Download the dataset
import requests

url = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv"
resp = requests.get(url)
with open('car_fuel_efficiency.csv', 'wb') as f:
    f.write(resp.content)

In [40]:
df = pd.read_csv('car_fuel_efficiency.csv')
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [10]:
pd.__version__

'2.2.3'

In [41]:
print(df.shape)
print(df['fuel_type'].unique())

has_null_values_count = 0

for col in df.columns:
    print(col, df[col].isnull().any(), end=", ")
    if df[col].isnull().any():
        has_null_values_count += 1

print("\nNumber of columns with null values:", has_null_values_count)

(9704, 11)
['Gasoline' 'Diesel']
engine_displacement False, num_cylinders True, horsepower True, vehicle_weight False, acceleration True, model_year False, origin False, fuel_type False, drivetrain False, num_doors True, fuel_efficiency_mpg False,
Number of columns with null values: 4

In [42]:
filtered = df[df['origin'] == 'Asia']
filtered['fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

In [43]:
print(df.horsepower.median())
print(df.horsepower.mode())
df.fillna({'horsepower': df.horsepower.mode()}, inplace=True)
print(df.horsepower.median())

149.0
0    152.0
Name: horsepower, dtype: float64
149.0

In [55]:
new_df = df.loc[df.origin == 'Asia', ['vehicle_weight', 'model_year']]
X = new_df[:7]
X = X.to_numpy()

res = X.T.dot(X)
inv = np.linalg.inv(res)
Y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
w = inv.dot(X.T).dot(Y)
w.sum()

np.float64(0.5187709081074016)